<h1>Service Tracker</h1>
      <% @bookings.each do |booking| %>
          <ul>
             <div class="bookings-order-cards">
                <div class="order-info">
                   <li><%= booking.job.name %> Customer: <%= booking.user.first_name%> <%= booking.user.last_name %></li>
                   <li><%= booking.date %></li>
                <div class="order-shop">
                </div>
                </div>
                 </ul>

            </div>
  <% end %>
