<h1>Shops#index</h1>

<p>Find me in app/views/shops/index.html.erb</p>

<div class="index-container">
  <div>
    <h1>Select Bike Shop</h1>
<!--     <a href="#" class="btn-treehouse">hey</a>
 -->  </div>

<!-- Where map should go -->
  <div
  id="map"
  style="width: 1400px;
  height: 1000px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

<!-- CARDS FOR INDEX LIST -->
  <% @shops.each do |shop| %>
<!--     <div class="shop-card"> -->
      <%= link_to shop_path(shop), class: 'card-link', id: "shop_#{shop.id}" do %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="shop-thumbnail" />
        <div class="shop-card-text">
          <h5><%= shop.name %></h5>
          <p>Distance: CHANGE</p>
          <p>Rating: CHANGE</p>
        </div>
      <% end %>
<!--     </div> -->
  <% end %>
</div>
