
<div class="shop-container">
  <div class="shop-banner">



  </div>

    <div class=job-booking>
      <h2>Services</h2>

        <%= simple_form_for [@shop, @booking] do |f| %>
          <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.association :job, as: :check_boxes, collection: Job.where(shop: @shop) %>
          <%= f.submit 'Make Booking' %>

        <% end %>
    </div>
</div>


