
.bookings-container {
  padding: 20px 24px;
  background-image: url(asset_path('line_silver_bg.jpg'));
  background-position: center center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.bookings-title {
  padding: 20px 0;
  text-transform: uppercase;
}

// .booking-order-cards {
//   display: flex;
//   flex-direction: column;
//   // background-color: rgba(0,0,0,0.1);
//   // padding: 0 0 0 10px;
// }
.order-info {
  display: flex;
  flex-direction: row;
  width: 80vw;
  .booking-name-small {
    display: flex;
    flex-direction: column;
    width: 75vw;
  .booking-button {
    font-size: 12px;
    position: fixed;
    top: 0;
    right: 0;
  }
}
 a {
  width: 25vw !important;
 }
  // border-radius: 12px;
  // margin: 16px 0;
  // .booking-button {
  //   width: 100%;
  // }
  .big-btn {
    height: 100%;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 8px 4px;
  }
}

.order-info {
  flex-grow: 1;
  background-color: rgba(0,0,0,0.1);
  padding: 0 0 0 0;
  margin: 16px 0;
  border-radius: 8px;
  p {
    margin-bottom: 0;
  }
  .booking-name-small {
    font-size: 10px;
    margin-left: 8px;
    margin-top: 4px;
  }
}

.order-shop {
  float: right;
}

.btn-warning {
  background-color: rgba(255,255,255,0.6);
  border: 1px solid rgba(0,0,0,0.3);
  color: black;
}

