
.bookings-orders {
  width: 95%;
}

.bookings-order-cards{
  background-color: #F0FFF0;
  display: flex;
}

.service-list {
  text-align: center;
  li {
    list-style-type: none;
  }
}

.btn-booking {
  text-align: center;
}


.order-info {
   display: block;
   width: 95%;
}

.order-shop {
  float: right;
}
