
  .card-link {
    background-color: white;
    width: 95%;
    height: 140px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 5px auto;
    text-decoration: none;

    .shop-card-text {
      padding: 5px 5px;

      h5, p {
        max-height: 70px;
        padding: 4px 0;
        margin: 0;
        overflow: hidden;
      }

      h5 {
        font-size: 20px;
        color: black !important;
      }

      p {
        color: #505050;
        font-size: 12px;
      }
    }
  }


.bookings-title {
  text-align: center;
  display: block;
  margin: auto;
}

.bookings-container {
display: flex;
flex-flow: column;

}

.bookings-orders ul {
  padding: 0px 0px;
  margin: 0px 0px;
// display: flex;
// flex-flow: column;
// align-items: center;

}

.bookings-order-cards {
  border: 1px solid $sea-green;
  list-style-type: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  width: 95%;

    p {
      font-size: 16px;
    }
}

.favorite-cards {
  margin: 5px auto;

}


.order-shop li {
  margin-right: auto;
}

.bookings-title h1 {
  text-align: center;
}

.favorite-shops-title h1 {
  text-align: center;
  display: block;
}
