// Specific CSS for your home-page

.homepage-container {
  background-image: linear-gradient(rgba(255,255,255,0.4)), url('line_silver_bg.jpg');
  position: relative;
  padding: 20px 40px;
}

.form-inputs {
  background-color: rgba(255,255,255,0.1);
  z-index: 10 !important;
}

.form-actions {
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
  a {
    // REMOVE THIS WHEN BUTTON IS DONE
    padding-top: 7px;
  }
}

.form-control {
  border-color: $sea-green;
}

.form-control:focus {
  border-color: $sea-green;
  background-color: $white;
  box-shadow: 0 0 0 0.2rem rgba(8, 152, 33, 0.25);
}

.remember-line {
  color: red;
}
