// Specific CSS for your home-page

.homepage-container {
  background-image: linear-gradient(rgba(255,255,255,0.6)), url('smaller-bike-bg.jpg');
  position: relative;
  padding: 20px 40px;
}

.form-inputs {
  background-color: white;
  z-index: 10 !important;
}

.form-actions {
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
  a {
    // REMOVE THIS WHEN BUTTON IS DONE
    padding-top: 7px;
  }
}

.form-control {
  border-color: #1edd88;
}


