// Import page-specific CSS files here.
@import "home";
@import "./components/shop_card";
@import "./components/map";
@import "./components/banner";
@import "./config/fonts";
@import "./config/colors";
.index-container {
  background-image: linear-gradient(rgba(255,255,255,0.4)), url('line_silver_bg.jpg');
  background-position: center center;
  background-repeat: repeat;
  padding: 80px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -10;
}
