.bookings-account-container {
  background-image: url(asset_path('line_silver_bg.jpg'));
  background-position: center center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -10;
  h3 {
    text-transform: uppercase;
    padding: 0 4px;
    text-align: center;
  }
}

.individual-favorite-cards {
  // background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  margin: 5px 0px;
}

.card-link {
//   width: 100%;
//   height: 140px;
//   display: flex;
//   flex-direction: row;
//   border-radius: 12px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   text-decoration: none;
// }

// .shop-card-text {
//   padding: 4px 4px 4px 16px;

//   p {
//     font-size: 11px;
//     color: black !important;
//     padding: 4px 0;
//     margin: 0;
//   }
// }
background-color: white;
    width: 95%;
    height: 115px;
    display: flex;
    flex-direction: row;
    align-content: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 10px 0;
    text-decoration: none;

    .shop-card-text {
      // padding: 20px 8px 4px 8px;
      display: flex;
      align-content: center;
      flex-direction: column;
    .rating-stars {
      padding-top: 8px;
      display: flex;
      flex-direction: row !important;
    }
      h5, p {
        max-height: 70px;
        padding: 4px 0;
        margin: 0;
        overflow: hidden;
      }

      h5 {
        font-size: 16px;
        text-transform: uppercase;
        color: black !important;
      }

      p {
        color: #505050;
        font-size: 12px;
      }
    }
  }
.favorite-name {
  font-size: small;
}

.favorite-cards {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
  }

.bookings-title h1 {
  text-align: center;
}

.bookings-orders {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.bookings-order-cards {
  background-color: rgba(0,0,0,0.1);
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  margin: 16px 0;
  width: 90%;
    p {
      font-size: 16px;
    }
}

.favorite-shops-title h1 {
  text-align: center;
  display: block;
}

.order-history-date {
  font-size: 10px;
}

.rating-stars {
  display: flex;

}

.rating-stars h5 {
  margin-right: 15px;
}

.shop-card-text {
  margin-left: 10px;
  margin-top: 6px;
}


.my-bookings-order-info {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 0 0 0;
    margin: 16px 0;
    border-radius: 8px;
    width: 95%;
    display: flex;
    justify-content: space-between;
  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.my-bookings-order-cards {
  background-color: rgba(0,0,0,0.1);
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 60px;
  border-radius: 12px;
  margin: 8px 0;
  width: 90%;
    p {
      font-size: 12px;
    }
}

.my-bookings-orders {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
