.container {
  background-image: linear-gradient(rgba(255,255,255,0.4)), url(asset_path('line-silver_bg.jpg'));
  background-position: center center;
  background-repeat: repeat;
  padding: 40px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: -webkit-fill-available;
  left: 0;
  top: 0;
  z-index: -1;
  text-align: center;

}

.fa-biking {
  z-index: 4;
  text-align: center;
}

.col h1 {
  font-size: 24px;
}


.col {
  text-align: center;
}
