.full-homepage-banner {
  background-image: url(asset_path('black-bike.jpg'));
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 10px 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -10;
  text-decoration: none !important;
  h1, h5 {
    color: white;
  }
  h1 {
  color: white;
  font-size: 112px;
  font-family: 'Montserrat Subrayada', ;
  padding: 10px 0 0 0;
  }
  a {
    color: white !important;
  }
  .homepage-text {
    align-content: left;
  }
  .homepage-link {
    text-decoration: none !important;
    color: white !important;
    width: 100%;
  }
}

a {
  text-decoration: none !important;
}
