.index-container {
  background-image: linear-gradient(rgba(255,255,255,0.4)), url('./assets/images/line_silver_bg.jpg');
  background-position: center center;
  background-repeat: repeat;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -10;
}
