<h1>This is where we'll put all our past and pending bookings...</h1>
<br>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.date %> - <%= booking.job.name %>: £<%= booking.job.price %></li>
  <% end %>
</ul>





<!--     <div class="shop-card"> -->

<!--     </div> -->

