<h1>This is where we'll put all our past and pending bookings...</h1>
<br>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.date %> - <%= booking.job.name %>: £<%= booking.job.price %></li>
  <% end %>
</ul>


<h1>Top Shops</h1>

<% current_user.favorites.each do |favorite| %>
<li>
  <%= favorite.shop.name %>
  <% end %>
</li>

<!--     <div class="shop-card"> -->

<!--     </div> -->

