
<div class="bookings-container">
  <div class="bookings-title">
                 <h1>Service Tracker</h1>
  </div>

  <br>
    <div class="bookings-orders">
      <% @bookings = @bookings.sort_by { |b| b.date } %>
      <% @bookings.each do |booking| %>
          <ul>
            <% if booking.date >= Date.today %>
             <div class="bookings-order-cards">
                <div class="order-info">
                   <li>Order Date:<%= booking.date %><%= booking.job.name %>:</li>
                    <div class="order-shop">
                      <li><%= booking.job.shop.name %></li>
                    </div>
                </div>
                     <div class="order-price">
                        <li>£<%= booking.job.price %></li>

         </ul>
      <% end %>
      <% end %>
               </div>
           </div>






        </div>

</div>
