<%= link_to shops_path, class: "homepage-link" do %>
  <div class="full-homepage-banner">
    <div class="homepage-text">
      <h1>FIXR</h1>
      <h5>TAP SCREEN TO ENTER</h5>
    </div>
  </div>
<% end %>
