.btn-basic {
  text-decoration: none;
  background-color: $white;
  color: $black;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid $black;
}

.btn-show {
  text-decoration: none;
  background-color: $sea-green;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid $sea-green;
}

.btn-sml {
  text-decoration: none;
  background-color: $sea-green;
  color: white;
  padding: 3px 8px;
  border-radius: 2px;
  border: 1px solid $sea-green;
}

#find-me {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease
}
