.marker {
    background-image: url("https://res.cloudinary.com/nationwide/image/upload/v1582660578/fix_hefxcr.png") !important;
    background-size: 'cover';
    width: 50px !important;
    height: 50px !important;
    // border-radius: 50%
}
