.marker {

    background-image: url("https://cdn3.iconfinder.com/data/icons/car-repair-icons/385/Wrenches_And_Gear-512.png") !important;
    background-size: cover;
    width: 50px !important;
    height: 50px !important;
    // border-radius: 50%
}
