
.marker {
    // background-image: url('https://image.flaticon.com/icons/svg/1473/1473250.svg') !important;
    // background-image: url('https://image.flaticon.com/icons/svg/1473/1473176.svg') !important;
    // background-size: 'cover';
    width: 50px !important;
    height: 50px !important;
    // border-radius: 50%
}
#map{
  width: 95% !important;
  height: 400px !important;
  padding-bottom: 10px;
}

.map-show {
  width: 95% !important;
  height: 200 px !important;
}

// // .marker {
// //     background-image: url('../../images/fixr-map.png') !important;
// //     background-size: 'cover';
// //     border: 1px solid red;
// //     width: 50px !important;
// //     height: 50px !important;
// //     border-radius: 50%
// }

// .mapboxgl-canvas{
//   position:relative !important;
//   // background-size: cover !important;
//   // height:1000px !important;
// }
