.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(00, 152, 00, 0.6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// ALIGN TO THE RIGHT, ONE ABOVE THE OTHER
// .nav-item {
//   display: flex;
//   justify-content: flex-end;
// }

