.review-container {
  padding: 4%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  h2, h2 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
  }
  h4 {
    font-size: 16px;
  }
}

.review-info {
  padding: 20px;
}

.reviews {
  h6 {
    font-size: 12px;
  }
}

.review_form {
  margin-bottom: -2%;
  padding: 6% 0 4% 0;
}

.rwd-line {
  font-family: "Spartan";
}

.review_stars {
  color: $sea-green;
}

