.review-container {
  padding: 4%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  h2, h2 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
  }
  h4 {
    font-size: 16px;
  }
}

.review-info {
  padding: 20px;
}

.reviews {
  h6 {
    font-size: 12px;
  }
//   align-content: center;
//   padding-left: 20px;
//   // width: 400px;
//   // display: flex;
//   // justify-content: space-between;
}
.review_form {
//   margin-top: 15px;
  margin-bottom: -2%;
//   align-content: center;
//   border-radius: 3%;
  padding: 6% 0 4% 0;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   background-color: #e5f2e5;
//   width: 80vw;
//   h1 {
//     font-size: 20px;
//   }
}


.rwd-line {
  font-family: "Spartan";
}
